
.a-nav {
  --ANav-background: var(--A-background);
  --ANav-color: var(--A-color);
  --ANav-padding: 16px 32px;
  --ANav-display: flex;
  --ANav-justify: flex-start;
  --ANav-align: center;
  --ANav-width: 100%;
  display: var(--ANav-display);
  justify-content: var(--ANav-justify);
  align-items: var(--ANav-align);
  padding: var(--ANav-padding);
  background: var(--ANav-background);
  color: var(--ANav-color);
  width: var(--ANav-width);
}