.a-container {
  --AContainer-padding: 64px 128px;
  background: var(--A-background);
  color: rgba(2, 94, 186, 0.267)23;
  padding: var(--AContainer-padding);
  display: flex;
  flex-direction: column;
}