.col {
  flex-direction: column;
}

:root {
  --A-background: #f5f5f5;
  --A-h1-font-size: 6rem;
  --A-h1-letter-spacing: -1.5px;
  --A-h1-font-weight: 300;
  --A-h2-font-size: 3.75rem;
  --A-h2-letter-spacing: -0.5px;
  --A-h2-font-weight: 300;
}