:root {
  --AHeading-color: #101010;
  
  // AHeading subtitle-1
  --A-subtitle-1-font-size: 1rem;
  --A-subtitle-1-font-weight: 400;
  --A-subtitle-1-letter-spacing: 0.15px;
  
  // AHeading subtitle-2
  --A-subtitle-2-font-size: .875rem;
  --A-subtitle-2-font-weight: 500;
  --A-subtitle-2-letter-spacing: 0.1px;
}

.a-heading {
  color: var(--AHeading-color);
}

h1 {
  font-size: var(--A-h1-font-size);
  font-weight: var(--A-h1-font-weight);
  letter-spacing: var(--A-h1-letter-spacing);
}

h2 {
  font-size: var(--A-h2-font-size);
  font-weight: var(--A-h2-font-weight);
  letter-spacing: var(--A-h2-letter-spacing);
}

h3 {
  font-size: var(--A-h3-font-size);
  font-weight: var(--A-h3-font-weight);
  letter-spacing: var(--A-h3-letter-spacing);
}


.a-heading {
  & .a-subtitle-1 {
    font-size: var(--A-subtitle-1-font-size);
    font-weight: var(--A-subtitle-1-font-weight);
    letter-spacing: var(--A-subtitle-1-letter-spacing);
  }
  & .a-subtitle-2 {
    font-size: var(--A-subtitle-2-font-size);
    font-weight: var(--A-subtitle-2-font-weight);
    letter-spacing: var(--A-subtitle-2-letter-spacing);
  }
}