:root {
  --AHeading-color: #101010;
  // AHeading H1
  --AHeading-font-size-h1: 6rem;
  --AHeading-letter-spacing-h1: -1.5px;
  --AHeading-font-weight-h1: 300;
  // AHeading subtitle-1
  --AHeading-font-size-subtitle-1: 1rem;
  --AHeading-letter-spacing-subtitle-1: 0.15px;
  --AHeading-font-weight-subtitle-1: 400;
}

.a-heading {
  color: var(--AHeading-color);
}

h1 {
  font-size: var(--AHeading-font-size-h1);
  letter-spacing: var(--AHeading-letter-spacing-h1);
  font-weight: var(--AHeading-font-weight-h1);
}


.a-heading {
  & .a-subtitle-1 {
    font-size: var(--AHeading-font-size-subtitle-1);
    letter-spacing: var(--AHeading-letter-spacing-subtitle-1);
    font-weight: var(--AHeading-font-weight-subtitle-1);
  }
}